kube-todo/creds.txt
kube-todo/.env
kube-todo/DB/db.sqlite3
triggerBuild.rest
kustomize/

part2/ex207/manifests/postgres-secret.yaml
part2/ex208/manifests/kube-todo-secret.yaml
busybox.yaml
kube-todo/DB/db.sqlite3
cookies.txt
kustomize/pong-postgres/postgres-secret.yaml
kustomize/kube-todo/kube-todo-secret.yaml
part3/ex303/tododb/kube-todo-secret.yaml
kube-todo/dwk-kko-kubernetes-19c2efb6528d.json
manifests/kube-todo-secret.yaml
